
input[type="button"]:hover {
    background-color: rgb(16, 16, 50);
    width: 22px;
    color: white;
    border: 3px solid rgb(255, 157, 0);
    border-radius: 5px;
    padding: 26px;
    margin: 5px;
    font-size: 16px;
}
#clear {
    width: 270px;
    border: 3px solid rgb(248, 37, 157);
    border-radius: 3px;
    padding: 20px;
    background-color: rgb(37, 44, 248);
}
#calc {
    width: 250px;
    border: 5px solid rgb(122, 20, 156);
    border-radius: 3px;
    padding: 20px;
    margin: auto;
}
input {
    width: 20px;
    background-color: rgb(99, 13, 132);
    color: white;
    border: 3px solid rgb(251, 3, 160);
    border-radius: 5px;
    padding: 26px;
    margin: 5px;
    font-size: 15px;
}
.formstyle{
width: 300px;
height: 530px;
margin: auto;
border: 3px solid rgb(172, 137, 164);
border-radius: 5px;
padding: 20px;
background-color: palevioletred;
}